<div class="sidebar">

    <div class="logo">

        <h3>B2B CRM</h3>

    </div>

    <ul>

        <li>
            <a routerLink="/dashboard">
                <i class="bi bi-speedometer2"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a routerLink="/search">
                <i class="bi bi-search"></i>
                Search
            </a>
        </li>

        <li>
            <a routerLink="/leads">
                <i class="bi bi-people-fill"></i>
                Leads
            </a>
        </li>

        <li>
            <a href="javascript:void(0)" (click)="exportExcel()">
                <i class="bi bi-file-earmark-excel-fill"></i>
                Export Excel
            </a>
        </li>
        <li>

            <a routerLink="/users">

                <i class="bi bi-people-fill"></i>

                Users

            </a>

        </li>

    </ul>

</div>
