<div class="row mt-4">

    <div class="col-md-6">

        <div class="card shadow">

            <div class="card-header bg-primary text-white">

                Dashboard Statistics

            </div>

            <div class="card-body">

                <canvas id="barChart"></canvas>

            </div>

        </div>

    </div>

    <div class="col-md-6">

        <div class="card shadow">

            <div class="card-header bg-success text-white">

                Leads Distribution

            </div>

            <div class="card-body">

                <canvas id="pieChart"></canvas>

            </div>

        </div>

    </div>

</div>